<!--article.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<!--Display the title of the article-->
<h1>{{.payload.Title}}</h1>

<!--Display the content of the article-->
<p>
    <b>Описание курса: </b>
    {{.payload.Content}}
</p>

<!--Display the host of the article-->
<p>
    <b>Курс предоставил: </b>
        <a href={{.payload.HostURL}}>{{.payload.Host}}</a>
</p>

<!--Display the URL of the article-->
<p><a href={{.payload.URL}}>Ссылка на курс</a></p>

<!--Display the Picture of the article-->
<p><a href={{.payload.Picture}}>Ссылка на картинку курса</a></p>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}