<!--course.html-->

{{ template "header.html" .}}


<h1>{{.payload.Title}}</h1>

<div class="jumbotron" style="margin-top: 80px;">
    <h1 class="display-3">{{.payload.Title}}</h1>
    <p class="lead">{{.payload.Content}}</p>
    <hr class="my-4">
    <p><b>Стоимость:</b> {{.payload.Price}}<br><b>Время обучения:</b> {{.payload.Duration}}<br><b>Уровень курса:</b> {{.payload.SkillLvl}}</p>
    <b>Курс предоставил: </b>
    <a href={{.payload.HostURL}}>{{.payload.Host}}</a>
    <p class="lead" style="margin-top: 30px;">
        <a class="btn btn-primary btn-lg" href="{{.payload.URL}}" role="button" >Познакомиться с курсом поближе!</a>
    </p>
</div>


{{ template "footer.html" .}}