<!--personal-area.html-->


{{ template "header.html" .}}

<div class="row">
    <div class="col-lg-5" style="margin-top: 90px;">
        <h3>Создать новую подписку</h3>
        <form class="form" action="/personal/submitting" method="POST">
            <fieldset>
                <fieldset class="form-group" style="margin-top: 17px;">
                    <label><h5>Введите тему, которая вам интересна</h5></label>
                    <input class="form-control col-lg-10" type="text" name="teg" placeholder="Например, Java" required>
                </fieldset>
                <fieldset class="form-group">
                    <div class="form-group">
                        <label for="selectFrequency"><h5>Укажите частоту получения уведомлений</h5></label>
                        <select class="form-control col-lg-10" id="selectFrequency" name="selectFrequency">
                            <option value="1">Раз в день</option>
                            <option value="7">Раз в неделю</option>
                            <option value="30">Раз в месяц</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <h5>Предпочитаемые платформы</h5>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="udacity" value="Udacity">
                            Udacity
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="udemy" value="Udemy">
                            Udemy
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="stepik" value="Stepik">
                            Stepik
                        </label>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <h5>Предпочитаемый язык</h5>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="rus" value="Русский">
                            Русский
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="eng" value="Английский">
                            Английский
                        </label>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <h5>Уровень курса</h5>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="beginner" value="Начинающий">
                            Начинающий (Beginner)
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="intermediate" value="Промежуточный">
                            Промежуточный (Intermediate)
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="advanced" value="Продвинутый">
                            Продвинутый (Advanced)
                        </label>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <h5>Доступность</h5>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="free" value="Бесплатно">
                            Бесплатно
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="chargeable" value="Платно">
                            Платно
                        </label>
                    </div>
                </fieldset>
                <button class="btn btn-secondary col-lg-10" type="submit">Создать подписку</button>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-7" style="margin-top: 90px;">
      <h3>Список существующих подписок</h3>
         {{range .payload }}
                <div class="card" style="margin-top: 30px;">
                    <div class="card-body">
                        <h3 class="card-title">Тема: {{.Teg}}</h3>
                        <h6 class="card-subtitle mb-2 text-muted">От: {{.Date.Day}} {{.Date.Month}} {{.Date.Year}},
                            уведомления раз в {{.Frequency}} день (дней)</h6>
                        <label class="card-text">Площадка: <i>{{.Platforms}}</i></label><br>
                        <label class="card-text">Языки: <i>{{.Languages}}</i></label><br>
                        <label class="card-text">Уровень: <i>{{.Levels}}</i></label><br>
                        <label class="card-text">Оплата курса: <i>{{.Availabilities}}</i></label><br>
                        <form action="/personal/area" method="POST">
                            <button class="card-link" name="deleteId" value="{{.ID}}">Удалить подписку</button>
                        </form>
                        <form action="/personal/send" method="POST" style="margin-top: 7px;">
                            <button class="card-link" name="sendId" value="{{.ID}}">Отправить уведомление сейчас</button>
                        </form>
                    </div>
                </div>
        {{end}}
    </div>
</div>


{{ template "footer.html" .}}